* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color-fondo-h1: rgb(245, 182, 57);
    --color-background: #333;
    --color-primari-text: #fff;
}

.clearfix {
    float: none;
    clear: both;
}

body {
    background-image: url("../img/hojas.jpg");
    background-attachment: fixed;
}

#global {
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background-color: azure;
    box-shadow: 0px 0px 6px rgb(9, 9, 9);

}

.logo {
    font-family: "Verdane", "Arial";
    font-size: 35px;
    letter-spacing: 4px;
    background-color: var(--color-fondo-h1);
    color: var(--color-primari-text);
    line-height: 75px;
    text-align: center;
    width: 389px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#menu {
    font-family: Arial, Helvetica;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;

}

#menu ul {
    background: var(--color-background);
    line-height: 45px;
    list-style: none;
}


#menu ul li {
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

#menu ul li:hover {
    background-color: var(--color-fondo-h1);
    border-right: 4px solid rgb(255, 135, 16);
}

#menu a {
    font-weight: 800;
    text-decoration: none;
    display: block;
    color: var(--color-fondo-h1);
    padding-left: 30px;
    padding-right: 30px;
}

#menu a:hover {
    color: var(--color-background);

}

#posts {
    margin-top: 10px;
    width: 60%;
    float: left;
    font-family: Arial, Helvetica;
}

.post {
    padding: 7px;
}

.post h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-background);
}

.post .date {
    display: block;
    color: gainsboro;
    margin-top: 7px;
}

.post p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
    color: var(--color-background);
}

.button-more {
    width: 70px;
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 15px;
    background-color: var(--color-fondo-h1);
    color: var(--color-primari-text);
    font-weight: 700;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;


}

/* ======================= sidebar ======================= */

#sidebar {
    font-family: Arial, Helvetica;
    width: 31%;
    float: right;
}

#sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: var(--color-background);

    background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span {
    background-color: var(--color-primari-text);
    padding: 5px;
}

#sidebar img {
    width: 100%;
}

#sidebar p {
    font-size: 15px;
    text-align: justify;
    margin-top: 8px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    padding: 5px;
    border-radius: 2px;
    border-color: 1px solid var(--color-background);
    width: 89%;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input[type="submit"]{
    background-color: var(--color-fondo-h1);
    color: var(--color-primari-text);
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* ===================== footer ======================= */

footer{
    font-family: Arial, Helvetica;
    color: var(--color-fondo-h1);
    height: 47px;
    background: var(--color-background);
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
    width: 65%;
    
}

/* ===================== slider ======================= */

.box-wrapper, .bx-viewport{
    height: 250px !important;
}
